{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}
<h1>Мои клиенты</h1>
<h4>Чтобы изменить статус клиента необходимо кликнуть по самому клиенту</h4>
{% if user.is_authenticated %}
    {% if my_client %}
        <ul>
        {% for client in my_client %}
            <a href="{% url 'client' client_id=client.id %}">
                <li>{{ client.last_name }} {{ client.first_name }} {{ client.middle_name }} - {{ client.status }}</li>
            </a>
        {% endfor %}
        </ul>
    {% else %}
        <p>У вас пока нет клиентов.</p>
    {% endif %}
{% else %}
    <a href="{%url 'login'%}"> Необходимо авторизоваться</a>
{% endif%}
{% endblock %}